---
layout: default
title: Index
---

<div class="hero" style="background-image: url('/images/placeholder.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100vw; margin-left: calc(-50vw + 50%);">
    <div class="grid grid-1-5">
        <div></div>
        <div>
            <div class="p-xl" style="margin-bottom: 64px; margin-top: 50vh;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>
</div>

{% for project in site.projects %}
    <section id="{{ project.slug }}">
        <div class="project-card">
            <a href="{{ project.url | relative_url }}" class="project-link">
                <div class="project-content">
                    <div class="project-info">
                        <div class="project-text">
                            <h4>{{ project.title }}</h4>
                            <p style="color: var(--secondary);">{{ project.impact }}</p>
                        </div>
                        <div class="button"><i class="fa-solid fa-arrow-right rotate-45"></i></div>
                    </div>
                    <div class="project-image">
                        <img src="{{ project.image | relative_url }}" loading="lazy">
                    </div>
                </div>
            </a>
        </div>
    </section>
{% endfor %}

<script>
    document.addEventListener("scroll", function() {
        const projects = [
            {% for project in site.projects %}
            {
                id: "{{ project.slug }}",
                color: "{{ project.color }}"
            }{% unless forloop.last %},{% endunless %}
            {% endfor %}
        ];
        
        const about = { id: "about", color: "var(--background)" };
        const allSections = [...projects, about];
        
        let currentColor = "var(--background)";

        for (const section of allSections) {
            const element = document.getElementById(section.id);
            if (element && element.getBoundingClientRect().top <= 240) {
                currentColor = section.color;
            }
        }

        document.body.style.backgroundColor = currentColor;
    }); 
</script> 