<section style="padding-top: 0px;" id="overview">
    <div class="grid grid-3-0" style="margin-top: 0px; margin-bottom: 64px;">
        <div class="p-xl" style="margin-block-end: 0px;">
            {{ page.title }}
        </div>
    </div>

    <img src="{{ page.image | relative_url }}" loading="lazy" style="margin-bottom: 64px;">
    
    <div class="grid grid-1-3">
        <div class="list">
            <div class="list-item">
                <div class="list-item-1">
                    <h2 class="np">ROLE</h2>
                </div>
                <div>
                    {% for role in page.role %}
                        {{ role }}{% unless forloop.last %}, <br>{% endunless %}
                    {% endfor %}
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-1">
                    <h2 class="np">TEAM</h2>
                </div>
                <div>
                    {% for member in page.team %}
                        {{ member }}{% unless forloop.last %}, <br>{% endunless %}
                    {% endfor %}
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-1">
                    <h2 class="np">SKILLS</h2>
                </div>
                <div>
                    {% for skill in page.skill %}
                        {{ skill }}{% unless forloop.last %}, <br>{% endunless %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <div>
                <h2 class="np">OVERVIEW</h2>
                <p>{{ page.desc }}</p>
                <p>{{ page.contribution }}</p>
                <div>
                    {% for impact in page.impact %}
                        {{ impact }}{% unless forloop.last %}<br>{% endunless %}
                    {% endfor %}
                </div>
            </div>
            <h2 class="np" style="margin-block-start: 30px; margin-block-end: 0px;">TAGS</h2>
            <div class="tag-group">
                {% for tag in page.tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</section> 