<section style="padding-top: 0px;" id="overview">
    <div class="grid grid-1" style="margin-top: 0px; margin-bottom: 64px;">
        <h1>{{ page.title }}</h1>
    </div>

    <img src="{{ page.image | relative_url }}" loading="lazy" style="margin-bottom: 64px;">
    
    <div class="grid grid-2-1">   
        <div>
            <div>
                <h3 class="np">OVERVIEW</h3>
                <p>{{ page.desc }}</p>
                <p>{{ page.impact }}</p>
            </div>
            <div class="tag-group">
                {% for tag in page.tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="list">
            <div class="list-item">
                <div class="list-item-1">
                    <h3 class="np">ROLE</h3>
                </div>
                <p>
                    {% for role in page.role %}
                        {{ role }}{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </p>
            </div>
            <div class="list-item">
                <div class="list-item-1">
                    <h3 class="np">TEAM</h3>
                </div>
                <p>
                    {% for member in page.team %}
                        {{ member }}{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </p>
            </div>
            <div class="list-item">
                <div class="list-item-1">
                    <h3 class="np">SKILLS</h3>
                </div>
                <p>
                    {% for skill in page.skill %}
                        {{ skill }}{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</section> 