<section style="padding-top: 0px;" id="overview">
    <div>
        <div class="p-xl" style="margin-block-end: 64px;">
            {{ page.title }}
        </div>
    </div>

    <img src="{{ page.image | relative_url }}" loading="lazy" style="margin-bottom: 64px;">
    
    <div class="grid grid-1-2">
        <div class="list">
            <div class="list-item">
                <div class="list-item-1">
                    <h2 class="np">ROLE</h2>
                </div>
                <div>
                    {% for role in page.role %}
                        {{ role }}{% unless forloop.last %}, <br>{% endunless %}
                    {% endfor %}
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-1">
                    <h2 class="np">TEAM</h2>
                </div>
                <div>
                    {% for member in page.team %}
                        {{ member }}{% unless forloop.last %}, <br>{% endunless %}
                    {% endfor %}
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-1">
                    <h2 class="np">SKILLS</h2>
                </div>
                <div>
                    {% for skill in page.skill %}
                        {{ skill }}{% unless forloop.last %}, <br>{% endunless %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <div class="list">
                <p>{{ page.desc }}</p>
                <p>{{ page.contribution }}</p>
                <div>
                    {% for impact in page.impact %}
                        <p>{{ impact }}{% unless forloop.last %}</p>{% endunless %}
                    {% endfor %}
                </div>
            </div>
            <div class="tag-group">
                {% for tag in page.tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</section> 