<footer>
    <hr>
    <div class="button-group" style="padding-top: 64px;padding-bottom: 64px;">
        <a class="button" href="/">LinkedIn ↗</a>
        <a class="button" href="/">GitHub ↗</a>
        <a class="button" href="/">Resume ↗</a>
        <a class="button" href="/">E-Mail ↗</a>
    </div>
    <div class="p-l" style="padding-bottom: 64px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <p>
        Made with tons of 🍵 in Cambridge, Massachusetts.<br>
        © 2025 · GEMMA LI. All Rights Reserved.
    </p>
</footer> 